:root{
    --negrito: #121212;
    --blanquito: #fefefe;
    --verdesito: #22ff22;
}

body{
    background-color: var(--negrito);

}

.circulo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: var(--blanquito);
}

#Form--uno{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    gap: 10px;
}

.programa{
    width: 100vw;
    height:100vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    text-align: center;
    background-color: var(--negrito);
    border: none;
    border-left: 1px solid var(--verdesito);
    border-right: 1px solid var(--verdesito);
    border-radius: 17px;
    cursor: text;
    color: var(--blanquito);
}

button{
    border-radius: 50px;
    cursor: pointer;
    background-color: papayawhip;
    border: none;
}